.photosContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            font-size: 28px;
            a:link {text-decoration: none; color: rgb(186, 46, 108);}
            a:visited { text-decoration: none; color: rgb(186, 46, 108); }
        }
    }
    
    
    .photoList {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .photo {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a{
                width: 50%;
                font-size: 36px;
                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
            a:link {text-decoration: none; color: rgb(186, 46, 108);}
            a:visited { text-decoration: none; color: rgb(186, 46, 108); }
        }
    }
  }

  @media screen and (max-width:1440px) {
    
    .photosContainer {
        width: 100%;
        .photoList {
            width: 100%;
            .photo{
                width: 80%;
                a {
                    width: 60%;
    
                    img {
                        width: 100%;
                    }
                }
             }
         }
         .big {
            width: 90%;
      
            img {
              width: 90%;
            }
        }     
    }
  }