@import 'basketball';

:root {
  font: 16px / 1 sans-serif;
  font-family: 'Oleo Script', cursive;
}



html {
  background: rgb(186, 46, 108);
  background: linear-gradient(
    90deg,
    rgba(186, 46, 108, 1) 5%,
    rgba(227, 242, 34, 1) 25%,
    rgba(68, 219, 231, 1) 100%
  );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 0;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    a:link {text-decoration: none; color: rgb(186, 46, 108);
    }
     a:visited { text-decoration: none; color: rgb(186, 46, 108) }
    font-size: 56px;
  }
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: center;

  .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;

    .cardContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 50px;   
      
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        a:link {text-decoration: none; color: rgb(186, 46, 108);}
        a:visited { text-decoration: none; color: rgb(186, 46, 108); }
        font-size: 32px;

      }

      .cardImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

        img {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 30px;
  text-decoration: none;
  font-size: 1.5em;
}

.Big {
  width: 600px;
  height: 750px;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}


@media screen and (max-width: 800px) {
  main {
    .categoryList  {
      width: 100%;
      .category{
        width: 100%;
        .cardContainer{
          width: 100%;
          .cardImage {
            width: 100%;
            img {
              width: 80%; 
            }
          }  
        }
      }
    }

    .big {
      width: 90%;

      img {
        width: 90%;
      }
    }
  }
}